body {
    margin: 0px;
    background-color: #D6CEBC;
}

.full-width {
    width: 100%;
}

#header-image {
    display: block;
    margin-left: auto;
    margin-right: 10%;
    margin-bottom: -10px;
    height: 50px;
}

#header-bar {
    background-color: #5c6d5f;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    align-items: center;
}

.navbar-item {
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    align-items: center;
}

#navbar-title {
    color: white;
    font-size: 44px;
    line-height: 44px;
    margin: 0px;
    font-family: roboto-bold, roboto, sans-serif;
    font-weight: bold;
}

#navbar-subtitle {
    color: white;
    font-size: 24px;
    font-family: roboto-bold, roboto, sans-serif;
    margin: 0px;
}

.navbar-li {
    display: inline-block;
    align-items: center;
}

.navbar-link {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    vertical-align: middle;
    font-size: 18px;
    font-family: roboto-bold, roboto, sans-serif;
}

h1 {
    color: black;
    font-size: 36px;
    font-family: roboto-bold, roboto, sans-serif;
}

#main-content {
    padding-left: 10%;
    padding-right: 10%;
}

#info-panel-section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.info-panel {
    width: 30%;
    text-align: center;
    background-color: #5c6d5f;
    color: white;
    font-family: roboto-bold, roboto, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

h2 {
    color: white;
    font-size: 20px;
    font-family: roboto-bold, roboto, sans-serif;
}